<section class="bg-teal-gradient py-80">
	<div class="container">
		<div class="row">
			<div class="col hero-image">
				<h1 class="">
					<%= __('index.main_title') %>
					<br>
					<u><%= __('index.sub_title') %></u>
				</h1> 
				<h4 class="pb-2r text-white-dark">
					<%= __('index.abstract_title') %>
					<span class="font-weight-bold">
						<%= __('index.abstract_sub_title') %>
					</span>
				</h4>
				<a href="<%= __('index.download_link') %>"
					target="_blank"
					class="btn btn-white-outline btn-lg">
					<%= __('index.download') %>
				</a>
			</div>
		</div>
	</div>
</section>

<section class="py-80">
	<div class="container text-xs-center py-3">
		<div class="row">
			<div class="col-md-5 hidden-sm-down">
				<img src="/images/eg.png" alt="" class="img-fluid" style="border: 1px solid #cdcdcd">
			</div>
			<div class="col-md-7 px-md-5">
				<h2 class="pb-3 mb-3 bottom-dash">
					<%= __('index.intro_title') %>
				</h2>
				<p class="pb-2r text-grey-dark">
					<%= __('index.intro_sub_title') %>
				</p>
				<div>
					<a href="<%= __('index.intro_video_link') %>"
						target="_blank"
						class="btn btn-teal btn-lg mr-md-3 mb-3">
						<%= __('index.intro_btn_video') %>
					</a>
					<a href="<%= __('index.intro_manual_link') %>"
						target="_blank"
						class="btn btn-teal-outline btn-lg mb-3 hidden-sm-down">
						<%= __('index.intro_btn_manual') %>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="bg-teal-gradient py-80">
	<div class="container">
		<div class="row">
			<div class="col-md-6 text-md-center">
				<img src="/images/icon-04.png" alt="" class="img-fluid">
			</div>
			<div class="col-md-6">
				<h2 class="pt-5 ">
					<%= __('index.get_started') %>
				</h2>
				<p class="text-white-dark pt-1 pb-md-5 pb-3">
					<%= __('index.get_started_detail') %>
				</p>
				<div class="pt-1">
					<a href="<%= __('index.intro_video_link') %>"
						target="_blank"
						class="btn pull-left btn-lg btn-white-outline">
						<%= __('index.get_started_btn_video') %>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-80">
	<div class="container">
		<h2 class="pb-4 bottom-dash">
			<%= __('index.feature_title') %>
		</h2>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="/images/icon-02.png" alt="">
			</div>
			<div class="col-md-6 pl-md-5">
				<h3 class="pt-md-5 pb-4 mb-4 bottom-dash">
					<%= __('index.feature_GUI_title') %>
				</h3>
				<p class="text-muted">
					<%= __('index.feature_GUI_detail') %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="/images/icon-03.png" alt="">
			</div>
			<div class="col-md-6 pl-md-5">
				<h3 class="pt-md-5 pb-4 mb-4 bottom-dash">
					<%= __('index.feature_integration_title') %>
				</h3>
				<p class="text-muted">
					<%= __('index.feature_integration_detail') %>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid" src="/images/icon-01.png" alt="">
			</div>
			<div class="col-md-6 pl-md-5">
				<h3 class="pt-md-5 pb-4 mb-4 bottom-dash">
					<%= __('index.feature_report_title') %>
				</h3>
				<p class="text-muted">
					<%= __('index.feature_report_detail') %>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="bg-teal-gradient py-80" id="lang">
	<div class="container">
		<div class="row">
			<div class="col-md-8 hidden-sm-down">
				<ul class="nav nav-pills" role="tablist">
					<li class="nav-item">
						<a href="#lc2" class="nav-link active" data-toggle="tab" role="tab">LemonCase2</a>
					</li>
					<li class="nav-item">
						<a href="#selenium" class="nav-link" data-toggle="tab" role="tab">Selenium</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="lc2" role="tabpanel">
						<pre class="sublemon">
#AUTOWAIT 1000
#TIMES 1

process main () {
	jumpto "https://www.google.com/";
	wait 555;
	click "#lst-ib";
	input "#lst-ib" by "google translate";
	click "#tw-source-text-container";
	input "#tw-source-text-ta" by "ost";
	assert <@"#tw-target-text > span:nth-child(1)"/> ~~ "ost";
}
						</pre>
					</div>
					<div class="tab-pane" id="selenium" role="tabpanel">
						<pre class="sublemon">
package com.example.tests;

import com.thoughtworks.selenium.*;
import org.junit.After;
import org.junit.Before;
import org.junit.Test;
import static org.junit.Assert.*;
import java.util.regex.Pattern;

public class GoogleTranslate {
	private Selenium selenium;

	@Before
	public void setUp() throws Exception {
		selenium = new DefaultSelenium("localhost", 4444, "*chrome",
			"https://www.google.com/");
		selenium.start();
	}

	@Test
	public void testGoogleTranslate() throws Exception {
		selenium.open("/");
		selenium.type("id=lst-ib", "google translate");
		for (int second = 0;; second++) {
			if (second >= 60) fail("timeout");
			try { if (selenium.isElementPresent("id=tw-source-text-ta")) break; }
			catch (Exception e) {}
			Thread.sleep(1000);
		}

		selenium.click("id=tw-source-text-ta");
		selenium.type("id=tw-source-text-ta", "ost");
		assertEquals("ost", selenium.getText("css=#tw-target-text > span"));
	}

	@After
	public void tearDown() throws Exception {
		selenium.stop();
	}
}

						</pre>
					</div>
				</div>
			</div>
			<div class="col-md-4 pt-5">
				<h2>
					<%= __('index.script_title') %>
				</h2>
				<p class="py-1 pb-2r">
					<%= __('index.script_detail') %>
				</p>
				<div>
					<a href="<%= url_for_lang('/docs/lemoncase2/index.html') %>" class="btn pull-left btn-lg btn-white-outline">
						<%= __('index.script_btn_manual') %>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="py-5">
	<div class="container">
		<h2 class="py-4 mb-5 bottom-dash">
			<%= __('index.customer_title') %>
		</h2>
		<div class="media flex-column flex-md-row">
			<div class="d-flex flex-column px-md-5 mr-3 hidden-sm-down">
				<img src="/images/relink.jpg" alt="" class="img-fluid">
				<br>
				<div class="text-center">
					relink
				</div>
			</div>
			<div class="media-body">
				<blockquote class="blockquote">
					<p>
						<%= __('index.customer_quote') %>
					</p>
					<footer class="blockquote-footer text-xs-right">
						<cite class="lead mr-1">
							<%= __('index.customer_name') %>
						</cite>
						relink | <%= __('index.customer_position') %>
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>
