<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hero-image text-xs-center">
				<h1 class="pb-2">
					<%= __('index.main_title') %>
					<br>
					<%= __('index.sub_title') %>
				</h1>
				<h3 class="pb-3">
					<%= __('index.abstract_title') %>
					<br>
					<%= __('index.abstract_sub_title') %>
				</h3>
				<a href="https://pan.baidu.com/s/1eRZrtuy"
					target="_blank"
					class="btn btn-orange btn-lg">
					<%= __('index.download') %>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container text-xs-center pb-3">
		<h2 class="pb-1">
			<%= __('index.intro_title') %>
		</h2>
		<h4 class="pb-2">
			<%= __('index.intro_sub_title') %>
		</h4>
		<div class="row pb-1">
			<div class="col-md-6 col-sm-8 offset-md-3 offset-sm-2">
				<img src="/images/eg.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row pt-2">
			<a href="http://www.bilibili.com/mobile/video/av6449358.html?from=message"
				target="_blank"
				class="btn btn-orange btn-lg mr-3">
				<%= __('index.intro_btn_video') %>
			</a>
			<a href="https://pan.baidu.com/s/1eRYBodG" target="_blank" class="btn btn-orange btn-lg">
				<%= __('index.intro_btn_manual') %>
			</a>
		</div>
	</div>
</section>
<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 pt-3">
				<h2 class="pb-1">
					<%= __('index.get_started') %>
				</h2>
				<p class="lead pb-1">
					<%= __('index.get_started_detail') %>
				</p>
				<div>
					<a href="http://www.bilibili.com/mobile/video/av6449358.html?from=message"
						target="_blank"
						class="btn pull-left btn-lg btn-teal-outline">
						<%= __('index.get_started_btn_video') %>
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<img src="/images/icon-04.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container text-xs-center pb-3">
		<h2>
			<%= __('index.feature_title') %>
		</h2>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-02.png" alt="">
				<h3>
					<%= __('index.feature_GUI_title') %>
				</h3>
				<p>
					<%= __('index.feature_GUI_detail') %>
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-03.png" alt="">
				<h3>
					<%= __('index.feature_integration_title') %>
				</h3>
				<p>
					<%= __('index.feature_integration_detail') %>
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-01.png" alt="">
				<h3>
					<%= __('index.feature_report_title') %>
				</h3>
				<p>
					<%= __('index.feature_report_detail') %>
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<img src="/images/icon-04.png" alt="" class="img-fluid" />
			</div>
			<div class="col-md-4 pt-3">
				<h2>
					<%= __('index.script_title') %>
				</h2>
				<p>
					<%= __('index.script_detail') %>
				</p>
				<div>
					<a href="/syntax" class="btn pull-left btn-lg btn-teal-outline">
						<%= __('index.script_btn_manual') %>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container">
		<h2 class="text-xs-center py-2">
			<%= __('index.customer_title') %>
		</h2>
		<div class="row border-grey px-2 py-2">
			<div class="col-md-3">
				<div class="mx-auto text-xs-center">
					<img src="/images/relink.jpg" alt="" class="img-fluid">
					<br>
					<span>relink</span>
				</div>
			</div>
			<div class="col-md-9">
				<blockquote class="blockquote">
					<p>
						解决问题速度快，兼容众多浏览器，集成化程度高，简单易学的
						LemonCase2 用例语言降低了学习成本，使 UI 测试更容易。
					</p>
					<footer class="blockquote-footer text-xs-right">
						<cite class="lead mr-1">李彦伟</cite>
						relink | 技术负责人
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>
