<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 hero-image text-xs-center">
				<h1 class="pb-2">
					<%= __('index.main_title') %>
					<br>
					<%= __('index.sub_title') %>
				</h1>
				<h3 class="pb-3">
					<%= __('index.abstract_title') %>
					<br>
					<%= __('index.abstract_sub_title') %>
				</h3>
				<a href="https://pan.baidu.com/s/1eRZrtuy"
					target="_blank"
					class="btn btn-orange btn-lg">
					<%= __('index.download') %>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container text-xs-center pb-3">
		<h2 class="pb-1">
			欢迎使用 Lemonce 测试工具
		</h2>
		<h4 class="pb-2">
			Lemonce 将帮助您提高WEB工程发布时的可靠性，并依靠以下优势显著改善您的测试环节
		</h4>
		<div class="row pb-1">
			<div class="col-md-6 col-sm-8 offset-md-3 offset-sm-2">
				<img src="/images/eg.png" alt="" class="img-fluid">
			</div>
		</div>
		<div class="row pt-2">
			<a href="http://www.bilibili.com/mobile/video/av6449358.html?from=message"
				target="_blank"
				class="btn btn-orange btn-lg mr-3">产品介绍</a>
			<a href="https://pan.baidu.com/s/1eRYBodG" target="_blank" class="btn btn-orange btn-lg">使用手册</a>
		</div>
	</div>
</section>
<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-4 pt-3">
				<h2 class="pb-1">简单到几分钟就能上手</h2>
				<p class="lead pb-1">
					灵萌测是本地安装的客户端软件，
					没有复杂的部署流程。
					它能够跨平台使用，支持 Windows, Mac 操作系统
				</p>
				<div>
					<a href="http://www.bilibili.com/mobile/video/av6449358.html?from=message"
						target="_blank"
						class="btn pull-left btn-lg btn-teal-outline">
						帮助视频
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<img src="/images/icon-04.png" alt="" class="img-fluid">
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container text-xs-center pb-3">
		<h2>
			我们的优势
		</h2>
		<div class="row">
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-02.png" alt="">
				<h3>
					图形操作
				</h3>
				<p>
					用视窗的 UI 风格设计的测试用例编辑器，更加符合使用习惯。方便的HTML元素抓取与查询功能，进一步提升测试用例编写效率。
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-03.png" alt="">
				<h3>便捷部署</h3>
				<p>
					LemonProbe 几乎没有侵入性，将它放入您的工程路径，不再担心复杂的环境与配置。通过浏览器访问即可迅速展开工作。
				</p>
			</div>
			<div class="col-md-4">
				<img class="img-fluid px-2" src="/images/icon-01.png" alt="">
				<h3>测试报告</h3>
				<p>
					我们的测试报告维度科学、简洁可读，既有用于查看总体项目执行通过率的总览也有完整的测试日志，有效定位与回溯错误过程。
				</p>
			</div>
		</div>
	</div>
</section>
<section class="bg-teal-gradient py-3">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<img src="/images/icon-04.png" alt="" class="img-fluid">
			</div>
			<div class="col-md-4 pt-3">
				<h2>LemonCase2 语言</h2>
				<p>
					简单的仿真指令（动作、等待与断言）语法能更加流畅
					的描述测试用例。项目变量与字典变量特性显著提升测试的可维护性。
				</p>
				<div>
					<a href="/syntax" class="btn pull-left btn-lg btn-teal-outline">
						语言文档
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="py-3">
	<div class="container">
		<h2 class="text-xs-center py-2">客户说</h2>
		<div class="row border-grey px-2 py-2">
			<div class="col-md-3">
				<div class="mx-auto text-xs-center">
					<img src="/images/relink.jpg" alt="" class="img-fluid">
					<br>
					<span>relink</span>
				</div>
			</div>
			<div class="col-md-9">
				<blockquote class="blockquote">
					<p>
						解决问题速度快，兼容众多浏览器，集成化程度高，简单易学的
						LemonCase2 用例语言降低了学习成本，使 UI 测试更容易。
					</p>
					<footer class="blockquote-footer text-xs-right">
						<cite class="lead mr-1">李彦伟</cite>
						relink | 技术负责人
					</footer>
				</blockquote>
			</div>
		</div>
	</div>
</section>
