<div id="wrap-page">
	<article class="page">
		<div class="page-header bg-teal-gradient py-5">
			<div class="container">
				<h1><%= page.title %></h1>
				<time class="text-white">
					<%= __('page.last_updated') %>
					<%= page.updated.format('YYYY-MM-DD') %>
				</time>
			</div>
		</div>
		<div class="page-content container py-5">
			<%- partial('partials/doc-sidebar') %>
			<div class="page-inner">
				<%- page.content %>
			</div>
		</div>
	</article>
</div>
