<aside id="doc-sidebar" class="float-lg-left">
	<div><a href="<%= url_for_lang('/docs') %>">
		<%= __('Installation') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/Getting Started/[index] of getting started.html') %>">
		<%= __('Getting Started') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Case Editor') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Suite Editor') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('WebView') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Report') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Lemoncase2 Guide') %>
	</a></div>
</aside>
