<aside id="doc-sidebar" class="float-lg-left">
	<div><a href="<%= url_for_lang('/docs/Installation/Index.html') %>"><%= __('Installation') %></a>
 		<ul>
    		<li><a href="/docs/Installation/Distribution Files.html">distribution files</a></li>
    		<li><a href="/docs/Installation/First Run.html">first run</a></li>
    		<li><a href="/docs/Installation/Upgrade.html">upgrade</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/Getting Started/Index.html') %>">
		<%= __('Getting Started') %></a>
		<ul>
    		<li><a href="/docs/Getting Started/Create a test case.html">create a test case</a></li>
    		<li><a href="/docs/Getting Started/Use of recorder.html">use of recorder</a></li>
    		<li><a href="/docs/Getting Started/Complete a test suite.html">complete a test suite</a></li>
			<li><a href="/docs/Getting Started/View test reports.html">view test reports</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/Case Editor/Index.html') %>"><%= __('Case Editor') %></a>
		<ul>
    		<li><a href="/docs/Case Editor/Case Debugger.html">case debugger</a></li>
    		<li><a href="/docs/Case Editor/Case Editor text area.html">case editor text area</a></li>
			<li><a href="/docs/Case Editor/Case Editor tool bar.html">case editor tool bar</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/Suite Editor/Index.html') %>">
		<%= __('Suite Editor') %></a>
		<ul>
    		<li><a href="/docs/Suite Editor/Suite Editor tool bar.html">suite editor tool bar</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>"><%= __('WebView') %></a>
		<ul>
    		<li><a href="">tool</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Report') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/Lemoncase2/Index.html') %>"><%= __('Lemoncase2') %></a>
		<ul>
    		<li><a href="/docs/Lemoncase2/Grammar_Instruction keyword.html">instruction keyword</a></li>
    		<li><a href="/docs/Lemoncase2/Grammar_Action keyword.html">action keyword</a></li>
    		<li><a href="/docs/Lemoncase2/Grammar_Expression.html">expression</a></li>
			<li><a href="/docs/Lemoncase2/Grammar_Inbuilt sub-process.html">inbuilt sub-process</a></li>
    		<li><a href="/docs/Lemoncase2/Grammar_Marco.html">marco</a></li>
    		<li><a href="/docs/Lemoncase2/Scope.html">scope</a></li>
    		<li><a href="/docs/Lemoncase2/Example.html">example</a></li>
 		</ul>
	</div>
</aside>


