<aside id="doc-sidebar" class="float-lg-left">
	<div><a href="<%= url_for_lang('/docs/installation/index.html') %>"><%= __('installation') %></a>
 		<ul>
    		<li><a href="/docs/installation/distribution.html">distribution files</a></li>
    		<li><a href="/docs/installation/firstrun.html">first run</a></li>
    		<li><a href="/docs/installation/upgrade.html">upgrade</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/guide/index.html') %>">
		<%= __('guide') %></a>
		<ul>
    		<li><a href="/docs/guide/case.html">create a test case</a></li>
    		<li><a href="/docs/guide/recorder.html">use of recorder</a></li>
    		<li><a href="/docs/guide/suite.html">complete a test suite</a></li>
			<li><a href="/docs/guide/reports.html">view test reports</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/case/index.html') %>"><%= __('Case Editor') %></a>
		<ul>
    		<li><a href="/docs/case/debugger.html">case debugger</a></li>
    		<li><a href="/docs/case/textarea.html">case editor text area</a></li>
			<li><a href="/docs/case/toolbar.html">case editor tool bar</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/suite/index.html') %>">
		<%= __('Suite Editor') %></a>
		<ul>
    		<li><a href="/docs/suite/toolbar.html">suite editor tool bar</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/webview/index.html') %>"><%= __('WebView') %></a>
		<ul>
    		<li><a href="/docs/webview/toolbar.html">webview toolbar</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Report') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/lemoncase2/index.html') %>"><%= __('lemoncase2') %></a>
		<ul>
    		<li><a href="/docs/lemoncase2/instructionkeyword.html">instruction keyword</a></li>
    		<li><a href="/docs/lemoncase2/actionkeyword.html">action keyword</a></li>
    		<li><a href="/docs/lemoncase2/expression.html">expression</a></li>
			<li><a href="/docs/lemoncase2/subprocess.html">inbuilt sub-process</a></li>
    		<li><a href="/docs/lemoncase2/marco.html">marco</a></li>
    		<li><a href="/docs/lemoncase2/scope.html">scope</a></li>
    		<li><a href="/docs/lemoncase2/example.html">example</a></li>
 		</ul>
	</div>
</aside>


