<aside id="docs-sidebar" class="float-lg-left">
	<div><a href="<%= url_for_lang('/docs/setup/index.html') %>"><%= __('doc_sidebar.setup') %></a>
 		<ul>
    		<li><a href="/docs/setup/download-install.html">download and install</a></li>
    		<li><a href="/docs/setup/firstrun.html">first run</a></li>
    		<li><a href="/docs/setup/interface.html">Lemonce interface</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/guide/index.html') %>"><%= __('docs-sidebar.getting_started') %></a>
		<ul>
    		<li><a href="/docs/guide/case.html">create a test case</a></li>
    		<li><a href="/docs/guide/recorder.html">use of recorder</a></li>
    		<li><a href="/docs/guide/suite.html">complete a test suite</a></li>
			<li><a href="/docs/guide/reports.html">view test reports</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/code-editor/index.html') %>"><%= __('docs_sidebar.code_editor') %></a>
		<ul>
    		<li><a href="/docs/code-editor/case-editor.html">case-editor</a></li>
    		<li><a href="/docs/code-editor/suite-editor.html">suite-editor</a></li>
			<li><a href="/docs/code-editor/webview.html">webview</a></li>
 		</ul>
	</div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('Report') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/lemoncase2/index.html') %>"><%= __('Lemoncase2') %></a>
		<ul>
    		<li><a href="/docs/lemoncase2/instructionkeyword.html">instruction keyword</a></li>
    		<li><a href="/docs/lemoncase2/actionkeyword.html">action keyword</a></li>
    		<li><a href="/docs/lemoncase2/expression.html">expression</a></li>
			<li><a href="/docs/lemoncase2/subprocess.html">inbuilt sub-process</a></li>
    		<li><a href="/docs/lemoncase2/marco.html">marco</a></li>
    		<li><a href="/docs/lemoncase2/scope.html">scope</a></li>
    		<li><a href="/docs/lemoncase2/example.html">example</a></li>
 		</ul>
	</div>
</aside>


