<aside id="doc-sidebar" class="float-lg-left">
	<div class="lead"><a href="<%= url_for_lang('/docs') %>">
		<%= __('docs.get_started') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/features.html') %>">
		<%= __('docs.features') %>
	</a></div>
	<div><a href="<%= url_for_lang('/docs/syntax.html') %>">
		<%= __('docs.syntax') %>
	</a></div>
</aside>
