<aside id="docs-sidebar" class="float-lg-left">
	<div><a href="<%= url_for_lang('/docs/setup/index.html') %>"><%= __('doc_sidebar.setup') %></a>
 		<ul>
    		<li><a href="<%= url_for_lang('/docs/setup/download-install.html') %>"><%= __('doc_sidebar.setup_download') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/setup/interface.html') %>"><%= __('doc_sidebar.setup_interface') %></a></li>
 		</ul>
	</div>
	
	<div><a href="<%= url_for_lang('/docs/guide/index.html') %>"><%= __('doc_sidebar.guide') %></a>
		<ul>
    		<li><a href="<%= url_for_lang('/docs/guide/case.html') %>"><%= __('doc_sidebar.guide_case') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/guide/recorder.html') %>"><%= __('doc_sidebar.guide_recorder') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/guide/suite.html') %>"><%= __('doc_sidebar.guide_suite') %></a></li>
			<li><a href="<%= url_for_lang('/docs/guide/reports.html') %>"><%= __('doc_sidebar.guide_report') %></a></li>
 		</ul>
	</div>

	<div><a href="<%= url_for_lang('/docs/code-editor/index.html') %>"><%= __('doc_sidebar.code_editor') %></a>
		<ul>
    		<li><a href="<%= url_for_lang('/docs/code-editor/case-editor.html') %>"><%= __('doc_sidebar.code_editor_case_editor') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/code-editor/suite-editor.html') %>"><%= __('doc_sidebar.code_editor_suite_editor') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/code-editor/webview.html') %>"><%= __('doc_sidebar.code_editor_webview') %></a></li>
 		</ul>
	</div>

	<div><a href="<%= url_for_lang('/docs/lemoncase2/index.html') %>"><%= __('doc_sidebar.lemoncase2') %></a>
		<ul>
    		<li><a href="<%= url_for_lang('/docs/lemoncase2/instructionkeyword.html') %>"><%= __('doc_sidebar.lemoncase2_instructionkeyword') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/lemoncase2/actionkeyword.html') %>"><%= __('doc_sidebar.lemoncase2_actionkeyword') %></a></li>
    		<li><a href="<%= url_for_lang('/docs/lemoncase2/expression.html') %>"><%= __('doc_sidebar.lemoncase2_expression') %></a></li>
			<li><a href="<%= url_for_lang('/docs/lemoncase2/subprocess.html') %>"><%= __('doc_sidebar.lemoncase2_inbuilt_subprocess') %></a></li>
			<li><a href="<%= url_for_lang('/docs/lemoncase2/marco.html') %>"><%= __('doc_sidebar.lemoncase2_marco') %></a></li>
			<li><a href="<%= url_for_lang('/docs/lemoncase2/marco.html') %>"><%= __('doc_sidebar.lemoncase2_magickeyword') %></a></li>
			<li><a href="<%= url_for_lang('/docs/lemoncase2/example.html') %>"><%= __('doc_sidebar.lemoncase2_example') %></a></li>
 		</ul>
	</div>

</aside>


