<footer>
	<div class="container pt-3" style="width:700px">
		<div class="row">
			<div class="col-md-4 col">
				<a href="/docs">
					<%= __('footer.help') %>
				</a>
				<ul class="list-unstyled">
					<li><a class="text-muted" href="/docs">
						<%= __('footer.support') %>
					</a></li>
					<li><a class="text-muted" href="/docs">
						<%= __('footer.api_doc') %>
					</a></li>
					<li><a class="text-muted" href="/news">
						<%= __('footer.blog') %>
					</a></li>
				</ul>
			</div>
			<div class="col-md-4 col">
				<a href="/">
					<%= __('footer.about') %>
				</a>
				<ul class="list-unstyled">
					<li><a class="text-muted" href="/eula.html">
						<%= __('footer.agreement') %>
					</a></li>
					<li><a class="text-muted" href="/eula.html">
						<%= __('footer.security') %>
					</a></li>
				</ul>
			</div>
			<div class="col-md-4 col">
				<a href="/contact.html" class="d-block">contact us</a>
				<a href="/site-map.html" class="d-block">site map</a>
			</div>
		</div>

		<div class="d-flex align-items-center justify-content-between py-4">
			<span>
				&copy;2014-<%= new Date().getFullYear() %>
					or-change, Co., Ltd. All rights reserved.
				<% if (page.path.indexOf('zh-cn') > -1) { %>
					<a class="text-faded-grey small" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action"> 津ICP备14003159号-2</a>
				<% } else { %>
					<a class="text-faded-grey small" href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action"> JIN-ICP14003159-2</a>
				<% } %>
			</span>
			<div class="btn-group dropup">
				<button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
					Language
				</button>
				<div class="dropdown-menu">
					<a href="/" class="dropdown-item">English</a>
					<a href="/zh-cn" class="dropdown-item">Chinese</a>
				</div>
			</div>
		</div>
	</div>
</footer>