<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8">
	<title><%= title_for() %></title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="<%= page.keywords ? page.keywords : config.keywords %>">
	<meta name="description" content="<%= config.description %>">
	<!-- Canonical links -->
	
	<!-- CSS -->
	<%- css('css/bootstrap.css') %>
	<%- css('css/theme.css') %>
	<%- css('css/index.css') %>
	<script src="https://use.fontawesome.com/201a2b367b.js"></script>
</head>