<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
	<div class="container mx-md-auto mx-0">
		<button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#nav-content">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="navbar-header">
			<a href="<%= url_for_lang('') %>" class="navbar-brand">Lemonce</a>
		</div>
		<div id="nav-content" class="collapse navbar-collapse">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a href="<%= url_for_lang('') %>" class="nav-link">
						<%= __('nav.home') %>
					</a>
				</li>
				<li class="nav-item">
					<a href="<%= __('index.download_link') %>"
						class="nav-link"
						onclick="ga('send', 'event', 'download', 'free trial', 'header button')">
						<%= __('nav.download') %>
					</a>
				</li>
				<li class="nav-item">
					<a href="<%= url_for_lang('/docs/guide/index.html') %>" class="nav-link">
						<%= __('nav.docs') %>
					</a>
				</li>
				<li class="nav-item">
					<a href="<%= url_for_lang('/feature.html') %>" class="nav-link">
						<%= __('nav.feature') %>
					</a>
				</li>
				<li class="nav-item">
					<a href="<%= url_for_lang('/compare.html') %>" class="nav-link">
						<%= __('nav.compare') %>
					</a>
				</li>
				<li class="nav-item">
					<a href="<%= url_for_lang('/news.html') %>" class="nav-link">
						<%= __('nav.news') %>
					</a>
				</li>
				
				<li class="nav-item">
					<a href="<%= url_for_lang('https://license.lemonce.com') %>"
						class="nav-link"
						onclick="ga('send', 'event', 'click', 'license', 'header button')">
						<%= __('nav.license') %>
					</a>
				</li>
				
				<li class="nav-item">
					<a href="/contact.html" class="nav-link">
						<%= __('nav.contact') %>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
